
.main{
    text-align: center;
    padding:40px;
    margin:10px;
    background-image:url('/public/bg.jpg');
    border-image-repeat: none;
    
    background-repeat: no-repeat;
    background-size: 100% 100%;
   
  }
  Button{
    width:200px;
    padding:10px;
    height:50px;
    margin:30px;
  }
  .log{
    margin:30px;
    padding:30px;
   width:50%;
  
   display: flex;
    justify-content:center;
    align-items: center;
   background-color: #282c34;
  }
  
  
  #t1{
    font-size: 32px;
  }
  
  